<div class="row">
    <div class="col-6">
      <div class="card mb-3">
        <div class="card-header">Usuario: Pepe</div>
        <div class="card-body">
          <p>Mensaje</p>
          <textarea class="form-control" #mensajePepe></textarea>
          <button type="button" class="btn btn-primary mt-2" (click)="enviarMensaje('Pepe', mensajePepe)">Guardar</button>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card mb-3">
        <div class="card-header">Usuario: María</div>
        <div class="card-body">
          <p>Mensaje</p>
          <textarea class="form-control" #mensajeMaria></textarea>
          <button type="button" class="btn btn-primary mt-2" (click)="enviarMensaje('María', mensajeMaria)">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  